name: test build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - run: yarn
    - run: yarn run docs:build
